[submodule "ext/sdl_image"]
	path = ext/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "ext/sdl_mixer"]
	path = ext/sdl_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "ext/sdl"]
	path = ext/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
